.example-icon {
    padding: 0 14px;
}

/* 工具栏图标靠右的样式 */
.example-spacer {
    flex: 1 1 auto;
}

/* 表格居中显示的样式 */
.example-container {
    min-height: 200px;
    margin: auto;
    margin-top: 1em;
    width: 85%;
    border: 1px solid green;
    padding: 10px;
}

.example-table-container {
    max-height: 500px;
    overflow: auto;
}


/* 表格列宽的样式 */
.mat-column-comments,
.mat-column-number,
.mat-column-state {
  max-width: 8%;
}

.mat-column-created {
  max-width: 10%;
}

.mat-column-menu {
  max-width: 10%;
}

.mat-column-title {
  max-width: 56%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

/* 隐藏菜单图标 */
button{
  border: 0ch;
}

/* 显示隐藏菜单 */
.example-list {
  max-width: 100%;
  min-height: 30px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
